.areas-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px; /* Reducido el padding */
  background-color: #f5f7fa;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.areas-title {
  background-color: #005187;
  color: white;
  text-align: center;
  border-radius: 25px;
  padding: 8px 20px; /* Menos padding */
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.areas-title:hover {
  background-color: #003d5c;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  margin-bottom: 30px; /* Reducido también el margen */
}

app-area-card-view {
  background: white;
  padding: 15px; /* Menos padding */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

app-area-card-view:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.no-areas-message {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #f7f9fc;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
