<!-- src/app/components/gear/gear-view/gear-view.component.html -->
<div class="gear-details">
  <h2 class="gear-view-title">Detalles del Equipo</h2>
  <div class="gear-info-grid">
    <!-- Información General -->
    <div class="info-group">
      <h3 class="group-title">Información General</h3>
      <div class="info-item">
        <span class="info-label">Nombre</span>
        <span class="info-value">{{ gear?.name }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Modelo de dispositivo</span>
        <span class="info-value">{{ gear?.deviceModel }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Número de serie</span>
        <span class="info-value">{{ gear?.serialNumber }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Área asignada</span>
        <span class="info-value">{{ gear?.areaAssigned }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Fabricante</span>
        <span class="info-value">{{ gear?.manufacturer }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Descripción</span>
        <span class="info-value">{{ gear?.description }}</span>
      </div>
    </div>

    <div class="info-group">
      <h3 class="group-title">Información Adicional</h3>
      <div class="info-item">
        <span class="info-label">Año de fabricación</span>
        <span class="info-value">{{ gear?.manufacturingYear }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Garantía</span>
        <span class="info-value">{{ gear?.warranty }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Datos extras</span>
        <span class="info-value">{{ gear?.extraData }}</span>
      </div>
      <div class="info-item" *ngIf="gear?.photo">
        <span class="info-label">Imagen</span>
        <img [src]="'http://localhost:3000/images/uploads/'+gear?.photo" alt="Foto del equipo" class="gear-photo">
      </div>
    </div>
    <!-- Información Adicional -->

    <!-- Información Técnica -->
    <div class="info-group">
      <h3 class="group-title">Información Técnica</h3>
      <div class="info-item">
        <span class="info-label">Resolución de pantalla</span>
        <span class="info-value">{{ gear?.screenResolution }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Fuente de energía</span>
        <span class="info-value">{{ gear?.powerSupply }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Peso</span>
        <span class="info-value">{{ gear?.weight }} kg</span>
      </div>
      <div class="info-item">
        <span class="info-label">Conectividad</span>
        <span class="info-value">{{ gear?.connectivity }}</span>
      </div>
    </div>



    <!-- Hoja de Vida -->
    <div class="info-group">
      <h3 class="group-title">Hoja de Vida</h3>
      <div class="info-item">
        <span class="info-label">Fecha de puesta en marcha</span>
        <span class="info-value">{{ gear?.startingDate | date: 'dd/MM/yyyy' }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Descripción de mantenimiento</span>
        <span class="info-value">{{ gear?.descriptionMaintenance }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Responsable</span>
        <span class="info-value">{{ gear?.responsible }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Frecuencia de mantenimiento</span>
        <span class="info-value">{{ gear?.frequencyMaintenance | duration }}</span>
      </div>
      <div class="info-item">
        <span class="info-label">Fecha de siguiente mantenimiento</span>
        <span class="info-value">{{ gear?.maintenanceAt | date }}</span>
      </div>
    </div>
  </div>
</div>
