<!-- src/app/components/gear/gear-view/gear-view.component.html -->
<div class="gear-details">
    <h2>Detalles del Equipo</h2>
    <table class="table">
      <tr>
        <th>Nombre</th>
        <td>{{ gear?.name }}</td>
      </tr>
      <tr>
        <th>Modelo</th>
        <td>{{ gear?.deviceModel }}</td>
      </tr>
      <tr>
        <th>Serial Number</th>
        <td>{{ gear?.serialNumber }}</td>
      </tr>
      <tr>
        <th>Fabricante</th>
        <td>{{ gear?.manufacturer }}</td>
      </tr>
      <tr>
        <th>Año de Fabricación</th>
        <td>{{ gear?.manufacturingYear }}</td>
      </tr>
      <tr>
        <th>Peso</th>
        <td>{{ gear?.weight }}</td>
      </tr>
      <tr>
        <th>Tipo de Pantalla</th>
        <td>{{ gear?.screenType }}</td>
      </tr>
      <tr>
        <th>Resolución de Pantalla</th>
        <td>{{ gear?.screenResolution }}</td>
      </tr>
      <tr>
        <th>Parámetros Monitoreados</th>
        <td>{{ gear?.parametersMonitored }}</td>
      </tr>
      <tr>
        <th>Suministro Eléctrico</th>
        <td>{{ gear?.powerSupply }}</td>
      </tr>
      <tr>
        <th>Batería</th>
        <td>{{ gear?.battery }}</td>
      </tr>
      <tr>
        <th>Conectividad</th>
        <td>{{ gear?.connectivity }}</td>
      </tr>
      <tr>
        <th>Alarmas</th>
        <td>{{ gear?.alarms }}</td>
      </tr>
      <tr>
        <th>Accesorios Incluidos</th>
        <td>{{ gear?.accessoriesIncluded }}</td>
      </tr>
      <tr>
        <th>Normas Aplicables</th>
        <td>{{ gear?.applicableStandards }}</td>
      </tr>
      <tr>
        <th>Garantía</th>
        <td>{{ gear?.warranty }}</td>
      </tr>
    </table>
  </div>
  