<!-- src/app/components/gear/gear-card/gear-card.component.html -->
<div class="gear-card-container">
  <div class="gear-card-content">
    <div class="gear-card-header">
      <img [src]="imageUrl | fallbacksrc:'/assets/images/default-gear.svg'" alt="Imagen del dispositivo" class="gear-image">
    </div>
    <div class="gear-card-details">
      <div class="gear-title">
        <h2>{{ gear?.name }}</h2>
      </div>
      <div class="gear-detail">
        <strong>Responsable:</strong> {{ gear?.responsible }}
      </div>
      <div class="gear-detail">
        <strong>Area:</strong> {{ gear?.areaAssigned  }}
      </div>
    </div>
  </div>
</div>
