<div class="gear-form-container" *ngIf="steps.length > 0">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let step of steps; let last = last" >
      <ng-template carouselSlide>
        <div class="step">
          <h2 class="step-title">{{ step.title }}</h2>
          <form [formGroup]="step.form">
            <div class="gear-form-grid">
              <div *ngFor="let controlName of getControls(step.form)" class="form-row">
                <label class="form-label" [for]="controlName">{{ getLabel(controlName) }}</label>

                <!-- Selector de área -->
                <mat-form-field *ngIf="controlName === 'areaAssigned'" appearance="outline" class="form-field">
                  <mat-label>Área Asignada</mat-label>
                  <mat-select
                    [formControlName]="controlName"
                    (selectionChange)="onAreaSelected($event.value)"
                  >
                    <mat-option *ngFor="let option of areas" [value]="option.name">{{ option.name }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Campo de entrada para una nueva área -->
                <mat-form-field *ngIf="controlName === 'areaAssigned'" appearance="outline" class="form-field">
                  <mat-label>O ingresa una nueva área</mat-label>
                  <input
                    matInput
                    placeholder="Escribe y presiona Enter"
                    (keyup.enter)="addNewArea($event)"
                    #newAreaInput
                  />
                </mat-form-field>


                <!-- Inputs normales -->
                <mat-form-field *ngIf="controlName !== 'areaAssigned' && controlName !== 'photo' && controlName !=='frequencyMaintenance'" appearance="outline" class="form-field">
                  <input matInput [formControlName]="controlName" [id]="controlName" [type]="getControlType(controlName)" />
                  <mat-error *ngIf="step.form.get(controlName)?.invalid && step.form.get(controlName)?.touched">
                    Campo inválido
                  </mat-error>
                </mat-form-field>

                <!-- Input de imagen SIN mat-form-field -->
                <div *ngIf="controlName === 'photo'" class="photo-upload">
                  <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*" />
                  <button mat-raised-button color="primary" (click)="fileInput.click()">📸 Subir Foto</button>
                  <div class="image-preview" *ngIf="imagePreview">
                    <img [src]="imagePreview" alt="Previsualización de imagen" class="preview-image" />
                  </div>
                </div>

                <!-- Input de frecuencia de mantenimiento -->
                <mat-form-field *ngIf="controlName === 'frequencyMaintenance'" appearance="outline" class="form-field">
                  <input matInput [formControlName]="controlName" [id]="controlName" type="number" />
                  <mat-error *ngIf="step.form.get(controlName)?.invalid && step.form.get(controlName)?.touched">
                    La frecuencia debe ser un número válido
                  </mat-error>
                </mat-form-field>

                <!-- Selector de unidad de frecuencia (no vinculado al formulario) -->
                <mat-form-field *ngIf="controlName === 'frequencyMaintenance'" appearance="outline" class="form-field">
                  <mat-label>Unidad de Frecuencia</mat-label>
                  <mat-select (selectionChange)="onFrequencyUnitChange($event.value)">
                    <mat-option *ngFor="let unit of frequencyUnits" [value]="unit.value">{{ unit.label }}</mat-option>
                  </mat-select>
                </mat-form-field>


              </div>
            </div>
          </form>
          <button class="button-submit-form" mat-raised-button *ngIf="last" color="primary" (click)="onSubmit()">
            Enviar
          </button>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
