<!-- src/app/components/gear/gear-card/gear-card.component.html -->
<div class="gear-card-container">
  <div class="gear-card-content">
    <div class="gear-card-header">
      <img [src]="imageUrl | fallbacksrc:'/assets/images/default-gear.svg'" alt="Imagen del dispositivo" class="gear-image">
      <div class="gear-title">
        <h2>{{ gear?.name }}</h2>
        <p>{{ gear?.manufacturer }}</p>
      </div>
    </div>

    <div class="gear-card-details">
      <div class="gear-detail">
        <strong>Modelo:</strong> {{ gear?.deviceModel }}
      </div>
      <div class="gear-detail">
        <strong>Peso:</strong> {{ gear?.weight }} kg
      </div>
      <div class="gear-detail">
        <strong>Fecha de Inicio:</strong> {{ gear?.startingDate | date: 'dd/MM/yyyy' }}
      </div>
    </div>
    <div class="gear-card-footer">
      <button routerLink="{{ gear?._id }}" class="gear-detail-btn">Ver Detalle</button>
    </div>
  </div>
</div>
